

#cv-form {
   margin-bottom: 9rem;
}
#cv-template{
    display: none;
}
.myimg {
    border: 1rem solid rgb(255, 255, 255);
    border-radius: 4rem;
    width: 9rem;
    
}
.col-md-8 h1 {
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-weight: 980;
} 
.background {
    background-color:rgb(44, 199, 199);
}
.card {
    margin-top: 1rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }